body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #000000;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: white;
    padding: 1em 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    align-items: center;
    text-align: center;
}

.logo img {
    margin-left: 15px;
    width: 100px;
    height: auto;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}
body.body-bg {
    background-color: #000; /* Black background */
    color: #fff; /* White text */
    font-family: Arial, sans-serif;
}

.header-bg {
    background-color: #990000; /* Dark red background */
    padding: 20px;
    text-align: center;
}

.header-title {
    color: #fff; /* White text */
    margin: 0;
}

.navigationlist {
    background-color: #333; /* Dark gray background */
    padding: 10px 0;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.menu-item {
    color: #fff; /* White text */
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
}

.menu-item:hover {
    background-color: #990000; /* Dark red background on hover */
    transition: background-color 0.3s ease;
}

.parallax {
    position: relative;
    height: 600px; /* Increased height for longer parallax effect */
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.parallax-content {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #fff; /* White text */
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    padding: 20px;
    border-radius: 5px;
}

.footer-bg {
    background-color: #990000; /* Dark red background */
    text-align: center;
    padding: 20px;
    color: #fff; /* White text */
}
nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

nav ul li a:hover {
    background-color: #555;
    border-radius: 5px;
}

.parallax {
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: relative;
    width: 100%;
}

/* Медіа-запит для ширини екрану до 768 пікселів */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
        padding: 1em;
    }

    .logo img {
        margin: 0 auto 15px auto;
        width: 80px;
    }

    nav ul {
        text-align: center;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }

    .parallax {
        background-attachment: scroll;
        height: 50vh;
    }

    #image1 { 
        background-image: url(images/dontfullgta.WebP);
    }
    #image2 {
        background-image: url(images/dontfullpunk.WebP);
    }
    #image3 {
        background-image: url(images/dontfull.WebP);
    }
}
